$background_main:rgb(231, 228, 228);
$nav_link_background:rgb(197, 42, 89);
$box_shadow_sidebar:rgba(34, 60, 80, 0.2);
$background_row:#fff;
$color_bottom_input:grey;
$color_text:#fff;
$option_hover:rgba(221, 221, 221, 0.432);
$first_block_background:rgb(6, 155, 6);
$second_block_background:rgb(231, 160, 26);
$third_block_background:rgb(25, 25, 189);
$fourth_block_background:rgb(197, 42, 89);
$headTable:rgb(13, 184, 184);
$color_list:grey;
$footer_text_color:rgb(56, 56, 56);